* {
  font-family: 'Noto Sans KR', sans-serif;
}
.eng {
  font-family: "Bebas Neue", cursive;
}
.card-body > h5 > a {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 40px;
  vertical-align: center;
  text-align: right;
}
.header > button {
  float: right;

  font-size: 32px;

  width: 110px;
  height: 50px;

  border-radius: 50px;
  border: 2px solid black;
  background-color: transparent;

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header > button:hover {
  color: white;
  background-color: black;
}

.mytitle > h1 {
  font-size: 72px;
  font-family: "Bebas Neue", cursive;
}

.mytitle {
  width: 100%;
  height: 250px;
  /*폰트내용*/
  color: white;
  /*내용물을 가운데로 오게하는 코드 네줄!!!*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*  타이틀 이미지  */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/05/14/101-amazing-thrills-tg/cedar-point-sandusky-ohio.jpg.rend.hgtvcom.1280.960.suffix/1491582056026.jpeg");
  background-position: 100% 70%;
  background-size: cover;
}

.park-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrap {
  width: 95%;
  max-width: 1500px;

  margin: 50px auto 20px auto;
}
.park-name {
  font-size: 52px;
  margin-top: 50px;
}
.weather-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color-gray {
  color: darkgray;
}

.btn-light {
  margin: 0px 10px 0px 10px;
}
.card-title {
  font-size: 2em;
}
.card-title > a {
  margin-left: 40px;
}

.card {
  height: 860px;
  border-radius: 20px;
}

.card > img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-text {
  height: 75px;
  overflow-y: auto;
}
.reviewinput {
  height: 38.13px;
  max-width: 390px;
  width: 95%;
  margin-top: 15px;
}
.review {
  overflow: auto;
}

.btn {
  padding: -3px 0px -3px 0px;
}

.btn:hover {
  box-shadow: 1px 1px 1px 1px #999;
}
