* {
  /*this font makes all texts in Capital*/
  font-family: "Bebas Neue", cursive;
}

.header > button {
  float: right;

  font-size: 32px;

  width: 110px;
  height: 50px;

  border-radius: 50px;
  border: 2px solid black;
  background-color: transparent;

  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.header > button:hover {
  color: white;
  background-color: black;
}

.mytitle > h1 {
  font-size: 72px;
}

.mytitle {
  width: 100%;
  height: 250px;
  /*폰트내용*/
  color: white;
  /*내용물을 가운데로 오게하는 코드 네줄!!!*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /*  타이틀 이미지  */
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://travel.home.sndimg.com/content/dam/images/travel/fullset/2015/05/14/101-amazing-thrills-tg/cedar-point-sandusky-ohio.jpg.rend.hgtvcom.1280.960.suffix/1491582056026.jpeg");
  background-position: 100% 70%;
  background-size: cover;
}

.park-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-wrap {
  width: 95%;
  max-width: 1500px;

  margin: 50px auto 20px auto;
}
.park-name {
  font-size: 52px;
  margin-top: 50px;
}
.weather-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color-gray {
  color: darkgray;
}

.btn-light {
  margin: 0px 10px 0px 10px;
}

.card-title > a {
  margin-left: 40px;
}
